# lab-3: pandas series

In [25]:
import pandas as pd
import numpy as np

In [26]:
#a)	To add, subtract, multiple and divide two pandas Series.

In [27]:
dict1= {'a': 10, 'b':20, 'c': 30}
s1=pd.Series(dict)#using dictionary
a=np.array([2,4,6])
s2=pd.Series(a,index=['a','b','c'])#using numpy array specify index explicxitly
print("addition:\n",s1+s2)
print("subtraction:\n",s1-s2)
print("multiplication:\n",s1*s2)
print("division:\n",s1/s2)

addition:
 a    12
b    24
c    36
dtype: int64
subtraction:
 a     8
b    16
c    24
dtype: int64
multiplication:
 a     20
b     80
c    180
dtype: int64
division:
 a    5.0
b    5.0
c    5.0
dtype: float64

#b)	To convert all the string values to upper, lower cases in a given pandas series. Also find the length of the string values.

In [42]:
#string methods
a=np.array(["a","b","aba","BAB","Ababa"])
s=pd.Series(a,index=["p1","p2","p3","p4","p5"])
print(s.str.lower(),"\n")
print(s.str.upper())
print(s.str.len())

p1        a
p2        b
p3      aba
p4      bab
p5    ababa
dtype: object

p1        A
p2        B
p3      ABA
p4      BAB
p5    ABABA
dtype: object
p1    1
p2    1
p3    3
p4    3
p5    5
dtype: int64

#c)	To remove whitespaces, left sided whitespaces and right sided whitespaces of the string values of a given pandas series.

In [43]:
idx=pd.Index(["  jack","jill   ","jesse   ","   frank"])
print(idx)
print(idx.str.rstrip())
print(idx.str.lstrip())
print("\n\n")
idx=pd.Index(["  jack  ","  jill   ","jesse","  frank"])
print(idx)
print(idx.str.strip())

Index(['  jack', 'jill   ', 'jesse   ', '   frank'], dtype='object')
Index(['  jack', 'jill', 'jesse', '   frank'], dtype='object')
Index(['jack', 'jill   ', 'jesse   ', 'frank'], dtype='object')



Index(['  jack  ', '  jill   ', 'jesse', '  frank'], dtype='object')
Index(['jack', 'jill', 'jesse', 'frank'], dtype='object')

#d)	To create a series from a list, numpy array and dict

In [53]:
array=np.array([100,200,201,325])
print(pd.Series(array))#default index 0,1,2....
print(pd.Series(array,index=["id1","id2","id3","id4"]))#explicit index
print(pd.Series({"k1":"v1","k2":"v2","k3":"v3"},index=["id1","id2","id3","id4"]))#explicit index overwrites implicit

0    100
1    200
2    201
3    325
dtype: int32
id1    100
id2    200
id3    201
id4    325
dtype: int32
id1    NaN
id2    NaN
id3    NaN
id4    NaN
dtype: object

#e)	To calculate the number of characters in each word in a series.

In [54]:
a=np.array(["privacy","security","in","online","socialmedia"])
s=pd.Series(a,index=["p1","p2","p3","p4","p5"])
print(s.str.len())

p1     7
p2     8
p3     2
p4     6
p5    11
dtype: int64

#f)	To compare the elements of the two Pandas Series.

In [61]:
s1=pd.Series([2, 4, 6, 8, 10])
s2=pd.Series([1, 3, 5, 7, 10])
print(s1.eq(s2))#for each element
print(s1.equals(s2))#entire series
#other functions gt,lt,ge,le

0    False
1    False
2    False
3    False
4     True
dtype: bool
False

#g)	To convert a Panda module Series to Python list and itâ€™s type

In [74]:
s=pd.Series([2, 4, 6, 8, 10])
print(type(list(s)),s.tolist())

<class 'list'> [2, 4, 6, 8, 10]

#d,h bits same

#i)	To Combine many series to form a dataframe

In [104]:
course=pd.Series(["daa","da","or","afl"])
fee=pd.Series([1000,1200,390,1500])
duration=pd.Series([20,10,30,50])
courses=pd.concat([course,fee,duration],axis=1)
print(courses)

     0     1   2
0  daa  1000  20
1   da  1200  10
2   or   390  30
3  afl  1500  50

#j)	to stack two series vertically and horizontally

In [106]:
course=pd.Series(["daa","da","or","afl"])
fee=pd.Series([1000,1200,390,1500])
courses=pd.concat([course,fee],axis=1)#horizontal stack axis=1
print(courses)
courses=pd.concat([course,fee],axis=0)#vertical stack axis=1
print(courses)

     0     1
0  daa  1000
1   da  1200
2   or   390
3  afl  1500
0     daa
1      da
2      or
3     afl
0    1000
1    1200
2     390
3    1500
dtype: object

#k)	To create and display a DataFrame from a specified dictionary data which has the index labels.

In [113]:
d={"persons":["j.b.watson","ausubel","bruner","bandura"],
   "theories":["psychologylab","meaningful learning","discovery learning","observational learning"]}
df=pd.DataFrame(d)
print(df)

      persons                theories
0  j.b.watson           psychologylab
1     ausubel     meaningful learning
2      bruner      discovery learning
3     bandura  observational learning